@model  MvcOnlineTicariOtomasyon.Models.Classes.SalesMovements
@{
    ViewBag.Title = "NewSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yeni Satış Sayfası</h2>
<br />

<form action="/Sales/NewSales" method="post" class="form-group">

    @Html.LabelFor(x => x.Products.ProductName, "Ürün")
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.productList, new { @class = "form-control" })
    <br />
    @Html.Label("Cari")
    @Html.DropDownListFor(x => x.CurrentId, (List<SelectListItem>)ViewBag.currentList, new { @class = "form-control" })
    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.employeeList, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Count, "Adet")
    @Html.TextBoxFor(x => x.Count, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Price, "Satış Fiyatı")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TotalPrice, "Toplam Tutar")
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary"> Satış Yap</button>
</form>

